Proclaim_test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://proclaim.api/soap"
                  targetNamespace="http://proclaim.api/soap">

  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
               targetNamespace="http://proclaim.api/soap">

      <xs:element name="GetDocumentRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="sessionToken" type="xs:string"/>
            <xs:element name="documentCode" type="xs:string"/>
            <xs:element name="format" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="GetDocumentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="content" type="xs:base64Binary"/>
            <xs:element name="filename" type="xs:string"/>
            <xs:element name="size" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:schema>
  </wsdl:types>

  <wsdl:message name="GetDocumentRequest">
    <wsdl:part name="parameters" element="tns:GetDocumentRequest"/>
  </wsdl:message>

  <wsdl:message name="GetDocumentResponse">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse"/>
  </wsdl:message>

  <wsdl:portType name="ProclaimServicePortType">
    <wsdl:operation name="GetDocument">
      <wsdl:input message="tns:GetDocumentRequest"/>
      <wsdl:output message="tns:GetDocumentResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ProclaimServiceBinding" type="tns:ProclaimServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="GetDocument"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ProclaimService">
    <wsdl:port name="ProclaimServicePort" binding="tns:ProclaimServiceBinding">
      <soap:address location="http://52.158.28.226:8085/soap"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>